$theme-success: (
    100: #e9feef,
    200: #d3f2dc,
    500: #23a047,
    700: #0a5c1f,
);

$theme-info: (
    100: #eef4fc,
    200: #d0def8,
    500: #6296f5,
    700: #0c3c95,
);

$theme-warning: (
    100: #fffbed,
    200: #f8efc5,
    500: #fcb704,
    700: #bf7b05,
);

$theme-error: (
    100: #fff2f5,
    200: #ffe0e7,
    500: #f44336,
    700: #731710,
);

$theme-secondary: (
    100: #e4f5f5,
    200: #a9e5e4,
    500: #00afad,
    700: #019896,
);

$theme-primary: (
    50: #e7f2ef,
    100: #d2ebe4,
    200: #caece2,
    500: #1d9281,
    600: #107466,
    800: #0e5b51,
);

$theme-auxiliary: (
    'orange-100': #fff7d9,
    'orange-500': #e28129,
    'green-200': #8ef4aa,
    'green-500': #3d7b7e,
    'green-700': #0b585c,
);

$gray-scale: (
    'white': #fff,
    25: #fdfdfd,
    50: #fafafa,
    100: #f5f6f6,
    150: #f0f0f0,
    200: #e8e9ea,
    300: #ced8df,
    400: #abb9c5,
    500: #8795a1,
    600: #69788c,
    700: #556171,
    800: #3c4550,
    900: #23282e,
    'black': #000,
);
