@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600);

$font-primary: "Montserrat", sans-serif;
$font-weight: 500;
$letter-spacing: 0.5px;

$text-xxs: 11px;
$text-xs: 12px;
$text-sm: 13px;
$text-md: 14px;
$text-lg: 18px;
$text-xl: 24px;

$text-header: 16px;
